.App {
  text-align: center;
}

input{
  margin: 5px;
}

button{
  width: 20%;
  margin: 10px;
}

body{
background: url('images/book.jpg') no-repeat center center fixed;  
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;;

}
